body{
    background: #23283e;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/* CSS DEL HEADER */
.encabezado__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}
.encabezado__menu{
    font-family: 'Raleway', sans-serif;
    display: flex;
}
.encabezado__parrafo{
    font-family: 'Raleway', sans-serif;
    margin-left: 7rem;
    color: #fdfdfd;
    align-self: flex-end;
}

.menu__link, .redes-sociales__link{
    color: #fdfdfd;
    text-decoration: none;
}

.menu__item, .redes-sociales__item{
    text-decoration: none;
    list-style: none;
}

/* CSS DEL CONTENIDO PRINCIPAL */
.presentacion{
    margin-right: 10%;
    margin-left: 10%;
} 
.presentacion__parrafo1{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 37.57px;
    color: #fdfdfd;
    float: left;
    width: 70%;
}

.presentacion__parrafo2{
    font-family: 'Raleway', sans-serif;
    color: #fdfdfd;
    width: 70%;
    margin-top: -7rem;
    clear: both;
    flex: none;
}

.presentacion__imagen{
    width: 30%;
}

.redes-sociales{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.redes-sociales__link{
    font-family: 'Raleway', sans-serif;
}


.fa-github:hover, .fa-linkedin:hover, .redes-sociales__link:hover{
    color: gray;
}


/* CSS DE SOBRE MI */
.sobre-mi{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
.sobre-mi__titulo{
    color: #fdfdfd;
    font-family: 'Raleway', sans-serif;
}
.sobre-mi__parrafo{
    color: #fdfdfd;
    font-family: 'Raleway', sans-serif;
}

/* CSS SKILLS Y HOBBIES*/
.skills, .hobbies-seccion, .formacion-academica{
    margin: 0 25% 7em 25%;
}
.skills__titulo, .hobbies-seccion__titulo, .formacion-academica__titulo, .experiencia-profesional__titulo, .experiencia-profesional__titulo-proyecto, .contacto__titulo{
    font-family: 'Raleway', sans-serif;
    color: #fdfdfd;
    text-align: center;

}
.skills__tecnologias, .hobbies-seccion__hobbies{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.skills__container, .formacion-academica__container, .hobbies-seccion__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10%;
    /*padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px; */
}

.skills__descripcion, .formacion-academica__descripcion, .hobbies-seccion__descripcion, .experiencia-profesional__descripcion{
    font-family: 'Raleway', sans-serif;  
    color: #fdfdfd;
    text-align: center;
    font-size: 1em;
}

.skills__icono, .hobbies-seccion__iconos{
    color: #fdfdfd;
    background: red;
   
}

.fa, .fab, .fa-brands, .fa-solid{
    color: #fdfdfd;
   font-size: 3rem;
}

/* CSS FORMACION ACADEMICA */
.formacion-academica__informacion{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.formacion-academica__imagen{
    width: 8em;
    height: 9em;
    background: #fdfdfd;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1em;
}

/* CSS EXPERIENCIA PROFESIONAL*/
.experiencia-profesional{
    margin: 0 20% 7em 20%;
}
.experiencia-profesional__proyecto{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7em;
}
.experiencia-profesional__container--izquierda{
    order: -1;
}
.experiencia-profesional__boton--rojo{
    background: red;
    width: 8em;
    height: 3em;
    border: none;
}
.experiencia-profesional__imagen{
    width: 70%;
}

.experiencia-profesional__link{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;  
    color: #fdfdfd;
}
.experiencia__profesional__btns{
    display: flex;
    justify-content: center;
}
.experiencia-profesional__boton--border{
    background: #23283e;
    border: 1px solid red;
    width: 8em;
    height: 3em;
    margin-right: 0.6em;
}
/* CSS CONTACTO */
.contacto{
    margin: 0 10% 7em 10%;
}
.contacto__info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2em;
}
.contacto__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
}
.contacto__descripcion{
    font-family: 'Raleway', sans-serif;  
    color: #fdfdfd;
}

.contacto__imagen{
    width: 50%;
}

.contacto__input{
    height: 3em;
    font-family: 'Raleway', sans-serif;
    background: black;
    color: #fdfdfd;
    resize: none;
}
.contacto__input--big{
    font-family: 'Raleway', sans-serif;
    height: 12em;
    background: black;
    color: #fdfdfd;
    resize: none;
}

.contacto__titulo{
    margin-top: 0;
    margin-bottom: -34px;
}
.contacto__button{
    width: 10em;
    height: 3em;
    background: red;
    color: #fdfdfd;
    font-family: 'Raleway', sans-serif;
    border: none;
    /* align-self: center; */
}

/* CSS FOOTER */
.footer-seccion{
    width: 100%;
    background: #fdfdfd;
}
.footer-seccion__container{
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
}


.github, .linkedin{
    color: black;
    font-size: 2em;
}
