body{
    background: #23283e;
}
/* CSS DEL HEADER */
.encabezado__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.encabezado__menu{
    font-family: 'Raleway', sans-serif;
    display: flex;
}
.encabezado__parrafo{
    font-family: 'Raleway', sans-serif;
    margin-left: 7rem;
    color: #fdfdfd;
    align-self: flex-end;
}

.menu__link, .redes-sociales__link{
    color: #fdfdfd;
    text-decoration: none;
}

.menu__item, .redes-sociales__item{
    text-decoration: none;
    list-style: none;
}

/* CSS DEL CONTENIDO PRINCIPAL */
.presentacion{
    margin-right: 10%;
    margin-left: 10%;
} 
.presentacion__parrafo1{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 37.57px;
    color: #fdfdfd;
    float: left;
    width: 70%;
}

.presentacion__parrafo2{
    font-family: 'Raleway', sans-serif;
    color: #fdfdfd;
    width: 70%;
    margin-top: -7rem;
    clear: both;
    flex: none;
}

.presentacion__imagen{
    width: 30%;
}

.redes-sociales{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.redes-sociales__link{
    font-family: 'Raleway', sans-serif;
}

/* CSS DE SOBRE MI */
